:root{
    --fondo:linear-gradient(143deg, rgba(0,1,41,1) 0%, rgb(11, 51, 74) 68%, rgba(44,197,171,0.5323275862068966) 88%, rgba(50,224,190,0.6961206896551724) 99%);
    --fondoNormal:linear-gradient(143deg, rgba(0,1,41,1) 0%, rgba(11,51,74,1) 68%, rgba(44,197,171,1) 88%, rgba(50,224,190,1) 99%);
    --fondoTelefono: linear-gradient(143deg, rgba(0,1,41,1) 0%, rgba(11,51,74,1) 68%, rgba(44,197,171,1) 88%, rgba(50,224,190,1) 99%);
    --fondoHeader: linear-gradient(180deg, rgba(11,51,74,1) 70%, rgba(50,224,190,1) 100%);
    --fondoColor: #000229;
    --background: #000;
    --titulo: #fff;
    --borde:#1bc5ff;
    --fondoTransparente: rgba(242, 242, 242,.4);
    --texto: #fff;
}

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}